bin*/
*.code-workspace
*.sublime-project
3rdparty*
.idea*
./*build*
*build*
xcode*
temp-plot.html
matlab/*.msh
matlab/*.stl
__pycache__
.DS_Store
/data
node_modules/
doc/.vitepress/cache/
doc/.vitepress/dist/
npm/dist/
